{%load staticfiles%}
<link rel="stylesheet" type="text/css" href="{% static 'notes/style.css' %}" />
    <body>
		<div class="header">
			<div class="container">
				<h1 class="header-heading">reLease</h1>
			</div>
		</div>
		<div class="nav-bar">
			<div class="container">
				<ul class="nav">
				    <li><a href="https://final-project-ikhon123-1.c9.io/listall">Home</a></li>
					<li><a href="https://final-project-ikhon123-1.c9.io/list">My Items</a></li>
					<li><a href="https://final-project-ikhon123-1.c9.io/add">Add</a></li>
					{%if user.is_authenticated%}
                      <li><a href="/accounts/logout">Logout</a></li>
                    {% endif %}
					<form method="get" action="/search/" class="navbar-form pull-right">
						<input type="text" id="searchBox" class="input-medium search-query" name="q" placeholder="Search">
						<input type="submit" class="btn" value="Search" >
					</form>
				</ul>
			</div>
		</div>
		<div class="content">
			<div class="container">
				<div class="main">
					<div class="container">
                        <h4>Title ---- {{object.title}}</h4> 
                        <h4>Content ---- {{object.content}}</h4>
                        <h4>Contact ---- {{object.contact}}</h4>
                        <h4>Deposit ---- {{object.deposit}}</h4>
                        <br>
        <a href={%url 'note_update' note.id %} class="btn btn-info" role="button">Edit</a>
        <a href={%url 'note_delete' note.id %} class="btn btn-info" role="button">Delete</a>
           </div>
    </body>
